  
  <h1 id="artist-title">Me Like Bees <span><b class="notchmlb"></b><i class="icon-certificate"></i> Musician</span>
  <%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/main/top-line.png", class: "headshad" %>
  <%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/main/topfloat1.png", class: "topfloat" %>
  </h1>

  <div id="left-sidebar"> 
    <ul class="lg-icons">
      <a href="melikebeesaudio"><li class="audio"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/icons/white/mic-icon.png" %>Audio</li></a>
      <a href="melikebeesvideo"><li class="video"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/icons/white/film-icon.png" %>Video</li></a>
      <a href="melikebeesphoto"><li class="photo"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/icons/white/photo-icon.png" %>Photo</li></a>
      <a href="melikebeesstore"><li class="store"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/icons/white/store-icon.png" %>Store</li></a>
      <a href="melikebees"><li class="profile"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/icons/white/user-icon.png" %>Profile</li></a>    
    </ul>
  </div>