<% provide(:title, 'Me Like Bees') %>
<%= stylesheet_link_tag 'pages/grid3' %>

  <!-- Twitter Widget -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <!-- Share -->
  <script>
    (function($){
      $.fn.styleddropdown = function(){
        return this.each(function(){
          obj = $(this)
          obj.find('.share').click(function() { //onclick event, 'list' fadein
          obj.find('.list').fadeIn(400);
          
          $(document).keyup(function(event) { //keypress event, fadeout on 'escape'
            if(event.keyCode == 27) {
            obj.find('.list').fadeOut(400);
            }
          });
          
          obj.find('.list').hover(function(){ },
            function(){
              $(this).fadeOut(400);
            });
          });
          
          obj.find('.list li').click(function() { //onclick event, change field value with selected 'list' item and fadeout 'list'
          obj.find('.share')
            .val($(this).html())
            .css({
              'background':'#fff',
              'color':'#333'
            });
          obj.find('.list').fadeOut(400);
          });
        });
      };
    })(jQuery);
  
    $(function(){
      $('.avatar').styleddropdown();
    });
  </script>

<!-- 
....................................................................
-->
<div class="container_12">
<%= render 'title_sidebar' %>

<!-- Main Content
....................................................................
-->

<section id="content">
<%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/main/packl.jpg", id: "content-background" %>  
<div class="clearfix">

  <div class="avatar">
  	<%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/banners/4.jpg" %>

    <table class="avp">
      <td>
        <button class="share" type="submit"><i class="icon-share"></i></button>
      </td>
    </table>  
    <ul class="list">
        <a href="#" onclick="
            window.open(
              'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
              'facebook-share-dialog', 
              'width=626,height=436'); 
            return false;">
          <li>
            <i class="icon-facebook-sign"></i>   
          </li>
        </a>  
        <a href="https://twitter.com/home?status=Check out Me Like Bees on Hippo+(http%3A%2F%2Fhippoartists.com%2Fmelikebees)"target="_blank">
          <li>
          <i class="icon-twitter"></i> 
          </li>
        </a>
        <a href="http://pinterest.com/pin/create/bookmarklet/?media=[MEDIA]&url=http%3A%2F%2Fhippoartists.com%2Fmelikebees&is_video=false&description=Check out Me Like Bees on Hippo"target="_blank">
          <li>
            <i class="icon-pinterest"></i> 
          </li> 
        </a>
        <a href="http://www.tumblr.com/share?v=3&u=http%3A%2F%2Fhippoartists.com%2Fmelikebees&t=Check out Me Like Bees on Hippo "target="_blank">
          <li>
            <i class="icon-tumblr"></i> 
          </li> 
        </a>
        <a href="mailto:?subject=Check out Me Like Bees on Hippo&amp;body=www.hippoartists.com/melikebees" title="Share by Email">
          <li style="font-size:20px;">
            <i class="icon-envelope"></i> 
          </li>
        </a>
    </ul>
  </div>



<div class="about-section about grid_6" style="margin-right:20px"> 
  <p class="big-font">We're setting out to be the Samuel L. Jackson of Indie Rock Bands.</p>
  <div class="thick-line">.</div>
  <p style="margin-top:30px;">
    Me Like Bees is an indie/alternative rock band from Joplin Missouri and is made up of Pete Burton (lead guitar), Nick Bynum (bass), Luke Sheafer (vocals/guitar), and Timothy Cote (drums).
  </p>
</div>

<div class="grid_6">

  <div class="map-section"> 
      <%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/icons/main/1con-basic.png", class: "icon-about" %>
      <table class="avp" style="color:#666;margin-top:3px;">
        <td> 
          <strong style="margin-right:3px;">Genre:</strong> Indie / Alternative / Rock
        </td>
        <td>
          <a style="font-weight:bold;" class="flat-link" href="https://www.facebook.com/melikebees" target="_blank"><i class="fa fa-facebook"></i>acebook </a>
        </td>
        <td>
          <a class="flat-link-not" href="http://melikebees.com" target="_blank"><i class="fa fa-laptop"></i> Website</a>
        </td>
      </table>  
      <div style="margin:0 0 -18px -15px;">
        <iframe width='400px' height='100px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/hippoartists.i2co1ka5/attribution.html'></iframe>
      </div>
      
  </div>

  <div class="comment-section" style="margin-top: 20px;">  
    <div id="twitter-wrapper">
      <a class="twitter-timeline" 
       href="https://twitter.com/melikebees" 
       data-theme="custom"
       data-tweet-limit="1"
       data-chrome="nofooter noheader noborders noscrollbar transparent"
       width="400"
       data-widget-id="371039773730697216">
       Tweets by @MeLikeBees
      </a>
    </div>
  </div>

</div><div class='clear'>&nbsp;</div>


</section>
</div>