<% provide(:title, 'Me Like Bees') %>
<%= stylesheet_link_tag 'pages/video' %>
<%= javascript_include_tag "hoverjs/jquery" %>
<%= javascript_include_tag "hoverjs/jquery.hoverscroll" %>

  <!-- Hoverscroll --> 
  <script>
  $(document).ready(function() {
        // Creating hoverscroll with fixed arrows
    $('.my-list').hoverscroll({
            fixedArrows: false,
            rtl: false
        });
        // Starting the movement automatically at loading
        // @param direction: right/bottom = 1, left/top = -1
        // @param speed: Speed of the animation (scrollPosition += direction * speed)
        var direction = -1,
            speed = 3;
        $(".my-list")[0].startMoving(direction, speed);
  }); 
  </script>

<!-- 
....................................................................
-->
<div class="container_12">
<%= render 'title_sidebar' %>

<!-- Main Content
....................................................................
-->

<section id="content">
<%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/main/packl.jpg", id: "content-background" %>
<div id="main" class="clearfix">   

    <div class="avatar">
      <iframe class="feat-vid" src="//www.youtube.com/embed/hKpNpvJ7n2o?rel=0&controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>    
    </div>
    <hr>
    <ul class="my-list" style="list-style:none">
      <li><iframe src="//www.youtube.com/embed/_9A4L0OKqyw?list=PLcAmErnMg4NtJEfnS3eQDuiHpxBhSB946?rel=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe></li>
      <li><iframe src="//www.youtube.com/embed/dlmWEpQOQ6I?rel=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe></li> 
      <li><iframe src="//www.youtube.com/embed/Ifme7VRU_uY?rel=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe></li>
    </ul>

    <hr>
    <!--p style="font-size:10px;color:#666;margin-bottom:-8px;margin-top:-8px;">Double Click for <i class="icon-fullscreen"></i> Full Screen</p-->


</div>
</section>
</div>