<% provide(:title, 'Me Like Bees') %>
<%= stylesheet_link_tag 'pages/audio' %>
<%= stylesheet_link_tag 'js/lightview/lightview' %>
<%= stylesheet_link_tag 'js/lightview/demo_inline' %>
<%= javascript_include_tag "wookmark/jquery.wookmark-audio" %>
<%= javascript_include_tag "sm2/soundmanager2" %>
<%= javascript_include_tag "sm2/inlineplayer" %>

<!-- 
....................................................................
-->

<%= render 'title_sidebar' %>

<!-- Main Content
....................................................................
-->


<section id="content">
<div id="main" class="clearfix">
<img id="content-background" src="/assets/main/main/page-background.png"/>

 <div id="sm2-container">
  <!-- SM2 flash goes here -->
 </div>


  <div class="view">  
    <a href='#demo_inline_element_three' class='lightview'
    data-lightview-options="skin: 'light', controls: { type: 'relative', slider: false, close: 'false' }">
      <%= image_tag "main/cds/melikebees/mlb.jpg", class: "coverart" %>
    </a>
    <table class="playlist">
      <th valign="top" id="tracks">   
        <ol class="graphic">
          <li><a href="http://open.spotify.com/track/7fsflM1FA6D61nuaABrusZ" target="_blank">Brand New Fall</a></li><span class="audio-actions"><i class="icon-music"></i></span>

          <li><a href="http://open.spotify.com/track/2rcTRXEqZSKfiye6fQKLyS" target="_blank">The Fifteenth Day</a></li><span class="audio-actions"><i class="icon-music"></i></span>

          <li><a href="http://open.spotify.com/track/1AVADeYGjUspRk4G3Gfw2E" target="_blank">The Ides</a></li><span class="audio-actions"><i class="icon-music"></i></span>

          <li><a href="http://open.spotify.com/track/7vsZgwQJxI8kVCN15OyWQl" target="_blank">Naked Trees</a></li><span class="audio-actions"><i class="icon-music"></i></span>

          <li><a href="http://open.spotify.com/track/2yssXyVQ7spz3UYDI0gXF0" target="_blank">Kids In The Kitchen</a></li><span class="audio-actions"><i class="icon-music"></i></span>

          <li><a href="http://open.spotify.com/track/75Ja48fwMCd5ALlkOg8iha" target="_blank">Rolodex</a></li><span class="audio-actions"><i class="icon-music"></i></span>

          <li><a href="http://open.spotify.com/track/7CqHGoHU7CfJ8scxEsMHv1" target="_blank">Ra Ra Etc.</a></li><span class="audio-actions"><i class="icon-music"></i></span>

          <li><a href="http://open.spotify.com/track/2rtbHQE3TV5dbrKYBQ5wuN" target="_blank">Comet And The Snail</a></li><span class="audio-actions"><i class="icon-music"></i></span>

          <li><a href="http://open.spotify.com/track/1xnZQ1yJl194RI0rPDlbpI" target="_blank">Joseph Jones</a></li><span class="audio-actions"><i class="icon-music"></i></span>

          <li><a href="http://open.spotify.com/track/4LHmmwPlWjTF5PynBa2E6A" target="_blank"> Well Enough Alone</a></li><span class="audio-actions"><i class="icon-music"></i></span>

          <li><a href="http://open.spotify.com/track/3S4iIXsPesFTH9jATIhYyx" target="_blank">Solstice Grind</a></li><span class="audio-actions"><i class="icon-music"></i></span>

          <li><a href="http://open.spotify.com/track/33hskhkJ8JNGRWScFQl1Xf" target="_blank">Lazarus</a></li><span class="audio-actions"><i class="icon-music"></i></span>

          <li><a href="http://open.spotify.com/track/3D0iDwE2GxALedLj213F51" target="_blank">Fox Hole Down</a></li><span class="audio-actions"><i class="icon-music"></i></span>

          <li><a href="http://open.spotify.com/track/3GVWNJ9LCAa2PASt7vpTRz" target="_blank">Pneumonia</a></li><span class="audio-actions"><i class="icon-music"></i></span>        
        </ol>  
      </th>
    </table>
  </div>

  <div class="view"> 
    <a href='#demo_inline_element_three_one' class='lightview'
    data-lightview-options="skin: 'light', controls: { type: 'relative', slider: false, close: 'false' }">
      <%= image_tag "main/cds/melikebees/mlb3.jpeg", class: "coverart" %>    
    </a>
    <table class="playlist">
      <th valign="top" id="tracks">   
        <ol class="graphic">
          <li><a href="http://open.spotify.com/track/3b9zanmBs1ZDurNn3Utskk" target="_blank">Iconica</a></li><span class="audio-actions"><i class="icon-music"></i></span>

          <li><a href="http://open.spotify.com/track/4CWw6RXoWxlnACAKzb6UEP" target="_blank">Good Machine</a></li><span class="audio-actions"><i class="icon-music"></i></span>

          <li><a href="http://open.spotify.com/track/5AEduhYuz91d2oDbSg1y8N" target="_blank">Devil's Song</a></li><span class="audio-actions"><i class="icon-music"></i></span>

          <li><a href="http://open.spotify.com/track/0TSI1ehp08svU43q2ve32W" target="_blank">Doubt</a></li><span class="audio-actions"><i class="icon-music"></i></span>   

          <li><a href="http://open.spotify.com/track/7h4Tu7iK4E9qKp8629bDxb" target="_blank">Wind In The Willows</a></li><span class="audio-actions"><i class="icon-music"></i></span> 

          <li><a href="http://open.spotify.com/track/2wAcGOD2ETJLpkXdaoNVL4" target="_blank">There's A Man</a></li><span class="audio-actions"><i class="icon-music"></i></span>  
        </ol>  
      </th>
    </table>
  </div>
        <!-- pop up menu -->
          <div id='demo_inline_element_three' style='display:none'>
            <div class='audio-container'>
              <div class="submenu">
                <ul class="root">
                  <li><a>
                    <%= image_tag "main/cds/melikebees/mlb.jpg", size: "32x32", style: "float:left;margin-right:15px;" %>
                    <strong>The Ides</strong> <br>July 9, 2013</a>
                  </li>
                  <li><a href="https://play.spotify.com/artist/6b0G9aPXmaLLDWJHhCrv1Q" target="_blank"><i class="icon-play-sign"></i> Stream on Spotify</a></li>
                  <li><a href="http://www.amazon.com/The-Ides/dp/B00DGHYGO0/ref=pd_sim_sbs_dmusic_a_1" target="_blank"><i class="icon-shopping-cart"></i> Buy on Amazon</a></li>
                  <li><a href="http://www.amazon.com/The-Ides/dp/B00DGHYGO0/ref=sr_shvl_album_1?ie=UTF8&qid=1377572927&sr=301-1" target="_blank"><i class="icon-apple" style="margin-left:2px"></i> Buy on iTunes</a></li>
                </ul>
              </div>
            </div>
          </div> 
          <div id='demo_inline_element_three_one' style='display:none'>
            <div class='audio-container'>
              <div class="submenu">
                <ul class="root">
                  <li><a>
                    <%= image_tag "main/cds/melikebees/mlb3.jpeg", size: "32x32", style: "float:left;margin-right:15px;" %>
                    <strong>EP</strong> <br>June 8, 2011</a>
                  </li>
                  <li><a href="https://play.spotify.com/album/5GH1yNj00TEEobQ3opNsze" target="_blank"><i class="icon-play-sign"></i> Stream on Spotify</a></li>
                  <li><a href="http://www.amazon.com/Me-Like-Bees-EP/dp/B0058U2DPM" target="_blank"><i class="icon-shopping-cart"></i> Buy on Amazon</a></li>
                  <li><a href="https://itunes.apple.com/us/album/me-like-bees-ep/id445558592" target="_blank"><i class="icon-apple" style="margin-left:2px"></i> Buy on iTunes</a></li>
                </ul>
              </div>
            </div>
          </div> 
        <!-- end menu --> 

</div>
</section>

  <!-- Wookmark Plugin -->
  <script>
    $(document).ready(new function() {
      // Prepare layout options.
      var options = {
        autoResize: true, 
        offset: 18, 
        itemWidth: 417 // Optional, the width of a grid item // @ 270 or 202
      };
      
      // Get a reference to your grid items.
      var handler = $('.view');
      
      // Call the layout function.
      handler.wookmark(options);
      
      // Capture clicks on grid items.
      handler.click(function(){

        // Update the layout.
        handler.wookmark();
      });

      $(window).resize(function() {
        slider.reloadShow();
      });      
    });  
  </script>

