<% provide(:title, 'Me Like Bees') %>
<%= stylesheet_link_tag 'pages/audio' %>
<%= stylesheet_link_tag 'js/lightview/lightview' %>
<%= stylesheet_link_tag 'js/lightview/demo_inline' %>
<%= javascript_include_tag "sm2/soundmanager2" %>
<%= javascript_include_tag "sm2/inlineplayer" %>

<!-- wookmark/jquery.wookmark-audio -->
<script>
$.fn.wookmark = function(options) {
  
  if(!this.wookmarkOptions) {
    this.wookmarkOptions = $.extend( {
        container: $('#content'), // was #main // was #content // was body
        offset: 18,
        autoResize: false,
        itemWidth: $(this[0]).outerWidth(),
        resizeDelay: 50
      }, options);
  } else if(options) {
    this.wookmarkOptions = $.extend(this.wookmarkOptions, options);
  }
  
  // Layout variables.
  if(!this.wookmarkColumns) {
    this.wookmarkColumns = null;
    this.wookmarkContainerWidth = null;
  }
  
  // Main layout function.
  this.wookmarkLayout = function() {
    // Calculate basic layout parameters.
    var columnWidth = this.wookmarkOptions.itemWidth + this.wookmarkOptions.offset;
    var containerWidth = this.wookmarkOptions.container.width();
    var columns = Math.floor((containerWidth+this.wookmarkOptions.offset)/columnWidth);
    var offset = Math.round((containerWidth - (columns*columnWidth-this.wookmarkOptions.offset))/2);
    
    // If container and column count hasn't changed, we can only update the columns.
    var bottom = 0;
    if(this.wookmarkColumns != null && this.wookmarkColumns.length == columns) {
      bottom = this.wookmarkLayoutColumns(columnWidth, offset);
    } else {
      bottom = this.wookmarkLayoutFull(columnWidth, columns, offset);
    }
    
    // Set container height to height of the grid.
    this.wookmarkOptions.container.css('height', bottom+'px');
  };
  
  /**
   * Perform a full layout update.
   */
  this.wookmarkLayoutFull = function(columnWidth, columns, offset) {
    // Prepare Array to store height of columns.
    var heights = [];
    while(heights.length < columns) {
      heights.push(0);
    }
    
    // Store column data.
    this.wookmarkColumns = [];
    while(this.wookmarkColumns.length < columns) {
      this.wookmarkColumns.push([]);
    }
    
    // Loop over items.
    var item, top, left, i=0, k=0, length=this.length, shortest=null, shortestIndex=null, bottom = 0;
    for(; i<length; i++ ) {
      item = $(this[i]);
      
      // Find the shortest column.
      shortest = null;
      shortestIndex = 0;
      for(k=0; k<columns; k++) {
        if(shortest == null || heights[k] < shortest) {
          shortest = heights[k];
          shortestIndex = k;
        }
      }
      
      // Postion the item.
      item.css({
        position: 'absolute',
        top: shortest+'px',
        left: (shortestIndex*columnWidth + offset)+'px'
      });
      
      // Update column height.
      heights[shortestIndex] = shortest + item.outerHeight() + this.wookmarkOptions.offset;
      bottom = Math.max(bottom, heights[shortestIndex]);
      
      this.wookmarkColumns[shortestIndex].push(item);
    }
    
    return bottom;
  };
  
  /**
   * This layout function only updates the vertical position of the 
   * existing column assignments.
   */
  this.wookmarkLayoutColumns = function(columnWidth, offset) {
    var heights = [];
    while(heights.length < this.wookmarkColumns.length) {
      heights.push(0);
    }
    
    var i=0, length = this.wookmarkColumns.length, column;
    var k=0, kLength, item;
    var bottom = 0;
    for(; i<length; i++) {
      column = this.wookmarkColumns[i];
      kLength = column.length;
      for(k=0; k<kLength; k++) {
        item = column[k];
        item.css({
          left: (i*columnWidth + offset)+'px',
          top: heights[i]+'px'
        });
        heights[i] += item.outerHeight() + this.wookmarkOptions.offset;
        
        bottom = Math.max(bottom, heights[i]);
      }
    }
    
    return bottom;
  };
  
  // Listen to resize event if requested.
  this.wookmarkResizeTimer = null;
  if(!this.wookmarkResizeMethod) {
    this.wookmarkResizeMethod = null;
  }
  if(this.wookmarkOptions.autoResize) {
    // This timer ensures that layout is not continuously called as window is being dragged.
    this.wookmarkOnResize = function(event) {
      if(this.wookmarkResizeTimer) {
        clearTimeout(this.wookmarkResizeTimer);
      }
      this.wookmarkResizeTimer = setTimeout($.proxy(this.wookmarkLayout, this), this.wookmarkOptions.resizeDelay)
    };
    
    // Bind event listener.
    if(!this.wookmarkResizeMethod) {
      this.wookmarkResizeMethod = $.proxy(this.wookmarkOnResize, this);
    }
    $(window).resize(this.wookmarkResizeMethod);
  };
  
  /**
   * Clear event listeners and time outs.
   */
  this.wookmarkClear = function() {
    if(this.wookmarkResizeTimer) {
      clearTimeout(this.wookmarkResizeTimer);
      this.wookmarkResizeTimer = null;
    }
    if(this.wookmarkResizeMethod) {
      $(window).unbind('resize', this.wookmarkResizeMethod);
    }
  };
  
  // Apply layout
  this.wookmarkLayout();
  
  // Display items (if hidden).
  this.show();
};

</script>

<!-- 
....................................................................
-->

<%= render 'title_sidebar' %>

<!-- Main Content
....................................................................
-->


<section id="content">
<%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/main/page-background.png", id: "content-background" %>
<div id="main" class="clearfix">

 <div id="sm2-container">
  <!-- SM2 flash goes here -->
 </div>


  <div class="view">  
    <a href='#demo_inline_element_three' class='lightview'
    data-lightview-options="skin: 'light', controls: { type: 'relative', slider: false, close: 'false' }">
      <%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/cds/melikebees/mlb.jpg", class: "coverart" %>
    </a>
    <table class="playlist">
      <th valign="top" id="tracks">   
        <ol class="graphic">
          <li><a href="http://open.spotify.com/track/7fsflM1FA6D61nuaABrusZ" target="_blank">Brand New Fall</a></li><span class="audio-actions">
          <%= image_tag "spotify.png", size: "16x16" %></span>

          <li><a href="http://open.spotify.com/track/2rcTRXEqZSKfiye6fQKLyS" target="_blank">The Fifteenth Day</a></li><span class="audio-actions"><%= image_tag "spotify.png", size: "16x16" %></span>

          <li><a href="http://open.spotify.com/track/1AVADeYGjUspRk4G3Gfw2E" target="_blank">The Ides</a></li><span class="audio-actions"><%= image_tag "spotify.png", size: "16x16" %></span>

          <li><a href="https://s3.amazonaws.com/hippoartists.com/audios/The+Ides+-+Me+Like+Bees/04+Naked+Trees.m4a">Naked Trees</a></li><span class="audio-actions"><i class="icon-music"></i></span>

          <li><a href="http://open.spotify.com/track/2yssXyVQ7spz3UYDI0gXF0" target="_blank">Kids In The Kitchen</a></li><span class="audio-actions"><%= image_tag "spotify.png", size: "16x16" %></span>

          <li><a href="http://open.spotify.com/track/75Ja48fwMCd5ALlkOg8iha" target="_blank">Rolodex</a></li><span class="audio-actions"><%= image_tag "spotify.png", size: "16x16" %></span>

          <li><a href="http://open.spotify.com/track/7CqHGoHU7CfJ8scxEsMHv1" target="_blank">Ra Ra Etc.</a></li><span class="audio-actions"><%= image_tag "spotify.png", size: "16x16" %></span>

          <li><a href="http://open.spotify.com/track/2rtbHQE3TV5dbrKYBQ5wuN" target="_blank">Comet And The Snail</a></li><span class="audio-actions"><%= image_tag "spotify.png", size: "16x16" %></span>

          <li><a href="http://open.spotify.com/track/1xnZQ1yJl194RI0rPDlbpI" target="_blank">Joseph Jones</a></li><span class="audio-actions"><%= image_tag "spotify.png", size: "16x16" %></span>

          <li><a href="http://open.spotify.com/track/4LHmmwPlWjTF5PynBa2E6A" target="_blank"> Well Enough Alone</a></li><span class="audio-actions"><%= image_tag "spotify.png", size: "16x16" %></span>

          <li><a href="http://open.spotify.com/track/3S4iIXsPesFTH9jATIhYyx" target="_blank">Solstice Grind</a></li><span class="audio-actions"><%= image_tag "spotify.png", size: "16x16" %></span>

          <li><a href="http://open.spotify.com/track/33hskhkJ8JNGRWScFQl1Xf" target="_blank">Lazarus</a></li><span class="audio-actions"><%= image_tag "spotify.png", size: "16x16" %></span>

          <li><a href="http://open.spotify.com/track/3D0iDwE2GxALedLj213F51" target="_blank">Fox Hole Down</a></li><span class="audio-actions"><%= image_tag "spotify.png", size: "16x16" %></span>

          <li><a href="http://open.spotify.com/track/3GVWNJ9LCAa2PASt7vpTRz" target="_blank">Pneumonia</a></li><span class="audio-actions"><%= image_tag "spotify.png", size: "16x16" %></span>        
        </ol>  
      </th>
    </table>
  </div>

  <div class="view"> 
    <a href='#demo_inline_element_three_one' class='lightview'
    data-lightview-options="skin: 'light', controls: { type: 'relative', slider: false, close: 'false' }">
      <%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/cds/melikebees/mlb3.jpeg", class: "coverart" %>    
    </a>
    <table class="playlist">
      <th valign="top" id="tracks">   
        <ol class="graphic">
          <li><a href="http://open.spotify.com/track/3b9zanmBs1ZDurNn3Utskk" target="_blank">Iconica</a></li><span class="audio-actions"><%= image_tag "spotify.png", size: "16x16" %></span>

          <li><a href="http://open.spotify.com/track/4CWw6RXoWxlnACAKzb6UEP" target="_blank">Good Machine</a></li><span class="audio-actions"><%= image_tag "spotify.png", size: "16x16" %></span>

          <li><a href="http://open.spotify.com/track/5AEduhYuz91d2oDbSg1y8N" target="_blank">Devil's Song</a></li><span class="audio-actions"><%= image_tag "spotify.png", size: "16x16" %></span>

          <li><a href="http://open.spotify.com/track/0TSI1ehp08svU43q2ve32W" target="_blank">Doubt</a></li><span class="audio-actions"><%= image_tag "spotify.png", size: "16x16" %></span>   

          <li><a href="http://open.spotify.com/track/7h4Tu7iK4E9qKp8629bDxb" target="_blank">Wind In The Willows</a></li><span class="audio-actions"><%= image_tag "spotify.png", size: "16x16" %></span> 

          <li><a href="http://open.spotify.com/track/2wAcGOD2ETJLpkXdaoNVL4" target="_blank">There's A Man</a></li><span class="audio-actions"><%= image_tag "spotify.png", size: "16x16" %></span>  
        </ol>  
      </th>
    </table>
  </div>
        <!-- pop up menu -->
          <div id='demo_inline_element_three' style='display:none'>
            <div class='audio-container'>
              <div class="submenu">
                <ul class="root">
                  <li><a>
                    <%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/cds/melikebees/mlb.jpg", size: "32x32", style: "float:left;margin-right:15px;" %>
                    <strong>The Ides</strong> <br>July 9, 2013</a>
                  </li>
                  <li><a href="https://play.spotify.com/artist/6b0G9aPXmaLLDWJHhCrv1Q" target="_blank"><i class="icon-play-sign"></i> Stream on Spotify</a></li>
                  <li><a href="https://squareup.com/market/hippo/the-ides" target="_blank"><i class="icon-shopping-cart"></i> Buy on Square</a></li>
                  <!--li><a href="http://www.amazon.com/The-Ides/dp/B00DGHYGO0/ref=pd_sim_sbs_dmusic_a_1" target="_blank"><i class="icon-shopping-cart"></i> Buy on Amazon</a></li>
                  <li><a href="https://itunes.apple.com/us/album/the-ides/id662913970" target="_blank"><i class="icon-apple" style="margin-left:2px"></i> Buy on iTunes</a></li-->
                </ul>
              </div>
            </div>
          </div> 
          <div id='demo_inline_element_three_one' style='display:none'>
            <div class='audio-container'>
              <div class="submenu">
                <ul class="root">
                  <li><a>
                    <%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/cds/melikebees/mlb3.jpeg", size: "32x32", style: "float:left;margin-right:15px;" %>
                    <strong>EP</strong> <br>June 8, 2011</a>
                  </li>
                  <li><a href="https://play.spotify.com/album/5GH1yNj00TEEobQ3opNsze" target="_blank"><i class="icon-play-sign"></i> Stream on Spotify</a></li>
                  <!--li><a href="http://www.amazon.com/Me-Like-Bees-EP/dp/B0058U2DPM" target="_blank"><i class="icon-shopping-cart"></i> Buy on Amazon</a></li>
                  <li><a href="https://itunes.apple.com/us/album/me-like-bees-ep/id445558592" target="_blank"><i class="icon-apple" style="margin-left:2px"></i> Buy on iTunes</a></li-->
                </ul>
              </div>
            </div>
          </div> 
        <!-- end menu --> 

</div>
</section>

  <!-- Wookmark Plugin -->
  <script>
    $(document).ready(new function() {
      // Prepare layout options.
      var options = {
        autoResize: true, 
        offset: 18, 
        itemWidth: 417 // Optional, the width of a grid item // @ 270 or 202
      };
      
      // Get a reference to your grid items.
      var handler = $('.view');
      
      // Call the layout function.
      handler.wookmark(options);
      
      // Capture clicks on grid items.
      handler.click(function(){

        // Update the layout.
        handler.wookmark();
      });

      $(window).resize(function() {
        slider.reloadShow();
      });      
    });  
  </script>

