<% provide(:title, 'Me Like Bees') %>
<%= stylesheet_link_tag 'pages/store' %>
<%= javascript_include_tag "hoverjs/jquery" %>
<%= javascript_include_tag "hoverjs/jquery.hoverscroll-store" %>

  <!-- Hoverscroll --> 
  <script>
  $(document).ready(function() {
        // Creating hoverscroll with fixed arrows
    $('.my-list').hoverscroll({
            fixedArrows: false,
            rtl: false
        });
        // Starting the movement automatically at loading
        // @param direction: right/bottom = 1, left/top = -1
        // @param speed: Speed of the animation (scrollPosition += direction * speed)
        var direction = -1,
            speed = 3;
        $(".my-list")[0].startMoving(direction, speed);
  }); 
  </script>

<!-- 
....................................................................
-->

<%= render 'title_sidebar' %>

<!-- Main Content
....................................................................
-->

<section id="content">
<%= image_tag "main/main/page-background.png", id: "content-background" %>  
<div id="main" class="clearfix">   

  <div class="merch view-sixth">
    <img class="item" src="http://images.cdn.bigcartel.com/bigcartel/product_images/67059605/max_h-1000+max_w-1000/255283_453081524712526_1605072928_n.jpg">
    <div class="mask">
      <a href="http://melikebees.bigcartel.com/product/american-werewolves-in-africa" class="info" target="_blank"><i class="icon-shopping-cart"></i> <span style="font-weight:bold;margin-left:5px;">$15.00</span></a>
    </div>
  </div>
  <div class="merch-2 view-sixth">
    <img class="item" src="http://images.cdn.bigcartel.com/bigcartel/product_images/67059429/max_h-1000+max_w-1000/486447_453081454712533_86140783_n.jpg">
    <div class="mask">
      <a href="http://melikebees.bigcartel.com/product/teepeeveetee" class="info" target="_blank"><i class="icon-shopping-cart"></i> <span style="font-weight:bold;margin-left:5px;">$15.00</span></a>
    </div>
  </div>

    
    <br><hr>  
    <ul class="my-list" style="list-style:none;">

      <li class="view-sixth" style="width: 206px; height: 309px;">
        <%= image_tag "main/melikebees/merch/1.jpg" %>
        <div class="mask">
          <a href="http://melikebees.bigcartel.com/product/languages-men-s-tee" class="info" target="_blank"><i class="icon-shopping-cart"></i> <span>$15.00</span></a>
        </div>      
      </li> 

      <li class="view-sixth" style="width: 205px; height: 309px;">
        <%= image_tag "main/melikebees/merch/2.jpg" %>
        <div class="mask">
          <a href="http://melikebees.bigcartel.com/" class="info" target="_blank"><i class="icon-shopping-cart"></i> <span>$15.00</span></a>
        </div> 
      </li>   

      <li class="view-sixth" style="width: 206px; height: 309px;"><img src="http://images.cdn.bigcartel.com/bigcartel/product_images/67095317/max_h-1000+max_w-1000/deertee1.jpg"/>
        <div class="mask">
          <a href="http://www.lovewayrecords.bigcartel.com/product/me-like-bees-gray-t-shirt-with-blue-print" class="info" target="_blank"><i class="icon-shopping-cart"></i> <span>$15.00</span></a>
        </div> 
      </li> 

      <li class="view-sixth" style="width: 206px; height: 309px;">
        <%= image_tag "main/melikebees/merch/3.jpg" %>
        <div class="mask">
          <a href="http://melikebees.bigcartel.com/" class="info" target="_blank"><i class="icon-shopping-cart"></i> <span>$10.00</span></a>
        </div> 
      </li> 

      <li class="view-sixth" style="width: 206px; height: 309px;">
        <%= image_tag "http://images.cdn.bigcartel.com/bigcartel/product_images/123031068/max_h-300+max_w-300/1149044_726374494055314_340926972_n.jpg" %>
        <div class="mask">
          <a href="http://melikebees.bigcartel.com/product/geometric-wolf" class="info" target="_blank"><i class="icon-shopping-cart"></i> <span>$15.00</span></a>
        </div>      
      </li> 
      <li class="view-sixth" style="width: 206px; height: 309px;">
        <%= image_tag "http://images.cdn.bigcartel.com/bigcartel/product_images/123031344/max_h-1000+max_w-1000/IMG_2070.jpg" %>
        <div class="mask">
          <a href="http://melikebees.bigcartel.com/product/elephant" class="info" target="_blank"><i class="icon-shopping-cart"></i> <span>$15.00</span></a>
        </div>      
      </li> 
       
    </ul>
    <hr style="margin-bottom:-30px;">


</div>
</section>

