<% provide(:title, 'Me Like Bees') %>
<%= stylesheet_link_tag 'pages/store' %>
<%= javascript_include_tag "hoverjs/jquery" %>
<%= javascript_include_tag "hoverjs/jquery.hoverscroll-store" %>

  <!-- Hoverscroll --> 
  <script>
  $(document).ready(function() {
        // Creating hoverscroll with fixed arrows
    $('.my-list').hoverscroll({
            fixedArrows: false,
            rtl: false
        });
        // Starting the movement automatically at loading
        // @param direction: right/bottom = 1, left/top = -1
        // @param speed: Speed of the animation (scrollPosition += direction * speed)
        var direction = -1,
            speed = 3;
        $(".my-list")[0].startMoving(direction, speed);
  }); 
  </script>

  <!-- Square -->
  <script src="https://cdn.sq-api.com/market/embed.js" id="sq-embed-js" charset="utf-8"></script>
  

<!-- 
....................................................................
-->

<%= render 'title_sidebar' %>

<!-- Main Content
....................................................................
-->

<section id="content">
<%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/main/packl.jpg", id: "content-background" %>  
<div id="main" class="clearfix">   

  <div class="merch view-sixth">
    <a href="https://squareup.com/market/hippo/naked-trees" target="_blank"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/merch/melikebees/1.jpg", class: "item" %></a>
    <div class="mask">
      <a href="https://squareup.com/market/hippo/naked-trees" target="_blank" class="info"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/etc/square.png" %><br>$15</a>
    </div>
  </div>
  <div class="merch-2 view-sixth">
    <a href="https://squareup.com/market/hippo/tee-pee-tank-top" target="_blank"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/merch/melikebees/2.jpg", class: "item" %></a>
    <div class="mask">
      <a href="https://squareup.com/market/hippo/tee-pee-tank-top" target="_blank" class="info"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/etc/square.png" %><br>$15</a>
    </div>
  </div>
<br><hr>

<!--
....................................................................
-->    

    
    <!--div class="masonry-container">
        <div class="masonry-item">
          <a href="https://squareup.com/market/hippo/the-ides" class="sq-embed-item">The Ides - Me Like Bees from Hippo on Square Market</a>
        </div>
        <div class="masonry-item">
          <a href="https://squareup.com/market/hippo/geometric-wolf" class="sq-embed-item">Geometric Wolf from Hippo on Square Market</a>
        </div>
        <div class="masonry-item">
          <a href="https://squareup.com/market/hippo/sriracha" class="sq-embed-item">Sriracha from Hippo on Square Market</a>
        </div>
        <div class="masonry-item ">
          <a href="https://squareup.com/market/hippo/naked-trees" class="sq-embed-item">Naked Trees from Hippo on Square Market</a>
        </div>
        <div class="masonry-item masonry-lg">
          <a href="https://squareup.com/market/hippo/tee-pee-tank-top" class="sq-embed-item">Tee Pee Tank Top from Hippo on Square Market</a>
        </div>
        <div class="masonry-item">
          <a href="https://squareup.com/market/hippo/teepeeveetee" class="sq-embed-item">Tee Pee V from Hippo on Square Market</a>
        </div>
        <div class="masonry-item">
          <a href="https://squareup.com/market/hippo/elephant" class="sq-embed-item">Elephant from Hippo on Square Market</a>
        </div>
        <div class="masonry-item">
          <a href="https://squareup.com/market/hippo/wolf-moon-giraffe" class="sq-embed-item">Wolf, Moon, Giraffe. from Hippo on Square Market</a><script src="https://cdn.sq-api.com/market/embed.js" id="sq-embed-js" charset="utf-8"></script>
        </div>
        
      </div-->
    <ul class="my-list" style="list-style:none;">

      <li class="view-sixth" style="width: 206px; height: 309px;">
        <a href="https://squareup.com/market/hippo/geometric-wolf" target="_blank"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/merch/melikebees/3.jpg" %></a>
        <div class="mask">
          <a href="https://squareup.com/market/hippo/geometric-wolf" class="info" target="_blank"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/etc/square.png" %></a><br><small class="price">$15</small>
        </div> 
      </li>  
      <li class="view-sixth" style="width: 206px; height: 309px;">
        <a href="https://squareup.com/market/hippo/elephant" target="_blank"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/merch/melikebees/4.jpg" %></a>
        <div class="mask">
          <a href="https://squareup.com/market/hippo/elephant" class="info" target="_blank"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/etc/square.png" %></a><br><small class="price">$15</small>
        </div> 
      </li>  
      <li class="view-sixth" style="width: 206px; height: 309px;">
        <a href="https://squareup.com/market/hippo/sriracha" target="_blank"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/merch/melikebees/5.jpg" %></a>
        <div class="mask">
          <a href="https://squareup.com/market/hippo/sriracha" class="info" target="_blank"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/etc/square.png" %></a><br><small class="price">$15</small>
        </div> 
      </li>  
      <li class="view-sixth" style="width: 206px; height: 309px;">
        <a href="https://squareup.com/market/hippo/teepeeveetee" target="_blank"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/merch/melikebees/6.jpg" %></a>
        <div class="mask">
          <a href="https://squareup.com/market/hippo/teepeeveetee" class="info" target="_blank"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/etc/square.png" %></a><br><small class="price">$10</small>
        </div> 
      </li>  
      <li class="view-sixth" style="width: 206px; height: 309px;">
        <a href="https://squareup.com/market/hippo/bad-kitty" target="_blank"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/merch/melikebees/7.jpg" %></a>
        <div class="mask">
          <a href="https://squareup.com/market/hippo/bad-kitty" class="info" target="_blank"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/etc/square.png" %></a><br><small class="price">$15</small>
        </div> 
      </li>  
      <li class="view-sixth" style="width: 206px; height: 309px;">
        <a href="https://squareup.com/market/hippo/wolf-moon-giraffe" target="_blank"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/merch/melikebees/8.jpg" %></a>
        <div class="mask">
          <a href="https://squareup.com/market/hippo/wolf-moon-giraffe" class="info" target="_blank"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/etc/square.png" %></a><br><small class="price">$15</small>
        </div> 
      </li>  

    </ul>
    <hr style="margin-bottom:-30px;">

  
  <!--%= javascript_include_tag "facebook/masonry.pkgd.min" %>
  <script>
    var containers, i, len;
    containers = document.querySelectorAll('.masonry-container');
    for (i = 0, len = containers.length; i < len; i++) {
      new Masonry(containers[i], { itemSelector: '.masonry-item', gutter: 11 });
    }
  </script-->

</div>
</section>