  <h1 id="artist-title">Akuna
    <span><b class="notch"></b><i class="icon-certificate"></i> musician</span><span><b class="notches"></b><i class="icon-certificate"></i> designer</span>
  <%= image_tag "main/main/top-line.png", class: "headshad" %>
  <%= image_tag "main/main/topfloat1.png", class: "topfloat" %>
  </h1>

  <div id="left-sidebar"> 
    <ul class="lg-icons">
      <a href="akunaaudio"><li class="audio"><%= image_tag "icons/white/mic-icon.png" %>Audio</li></a>
      <a href="akunaphoto"><li class="photo"><%= image_tag "icons/white/photo-icon.png" %>Photo</li></a>
      <a href="akunatext"><li class="text"><%= image_tag"icons/white/book-icon.png" %><br>Text</li></a>  
      <a href="akuna"><li class="profile"><%= image_tag "icons/white/user-icon.png" %>Profile</li></a>          
    </ul>
  </div>