<% provide(:title, 'Akuna') %>
<%= stylesheet_link_tag 'pages/video' %>
<%= javascript_include_tag "hoverjs/jquery" %>
<%= javascript_include_tag "hoverjs/jquery.hoverscroll" %>
<%= javascript_include_tag "page_switch" %>

  <!-- Hoverscroll --> 
  <script>
  $(document).ready(function() {
        // Creating hoverscroll with fixed arrows
    $('.my-list').hoverscroll({
            fixedArrows: false,
            rtl: false
        });
        // Starting the movement automatically at loading
        // @param direction: right/bottom = 1, left/top = -1
        // @param speed: Speed of the animation (scrollPosition += direction * speed)
        var direction = -1,
            speed = 3;
        $(".my-list")[0].startMoving(direction, speed);
  }); 
  </script>

<!-- 
....................................................................
-->

 <%= render 'title_sidebar' %>

<!-- Main Content
....................................................................
-->

<section id="content">
<%= image_tag "main/main/page-background.png", id: "content-background" %>
<div id="main" class="clearfix">   

    <div class="avatar">
      <iframe class="feat-vid" src="http://player.vimeo.com/video/67264150?title=0&amp;byline=0&amp;portrait=0"frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      <p>
        <strong>ONE NIGHT MAN - "The Cheatee"</strong> by <a href="grid2.html">Andy Landen</a> <span style="margin:0 3px 0 3px"> | </span><i class="icon-time" style="margin-right:3px;"></i> March 30, 2013
        <span style="float:right;"><i class="icon-share"></i></span>
      </p>      
    </div>

    <hr>

    <ul class="my-list" style="list-style:none">
      <li><iframe src="http://player.vimeo.com/video/20421951?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        <p>
          <strong>After School Club - Episode 1</strong>
          <span style="float:right;"><i class="icon-share"></i></span>
        </p>
      </li> 

      <li><iframe src="http://player.vimeo.com/video/22544185?title=0&amp;byline=0&amp;portrait=0"frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        <p>
          <strong>After School Club - Episode 2</strong>
          <span style="float:right;"><i class="icon-share"></i></span>
        </p>
      </li>

      <li><iframe src="http://player.vimeo.com/video/23047034?title=0&amp;byline=0&amp;portrait=0"frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        <p>
          <strong>After School Club - Episode 3</strong>
          <span style="float:right;"><i class="icon-share"></i></span>
        </p>
      </li>

      <li>
        <iframe src="http://player.vimeo.com/video/44417232?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        <p>
          <strong>Lose Yourself, Save Yourself</strong>
          <span style="float:right;"><i class="icon-share"></i></span>
        </p>        
      </li>  

    </ul><hr style="margin-bottom:-28px;">


</div>
</section>