<% provide(:title, 'Akuna') %>
<%= stylesheet_link_tag 'pages/text' %>

<!-- 
....................................................................
-->

 <%= render 'title_sidebar' %>

<!-- Main Content
....................................................................
-->

<section id="content">
<%= image_tag "main/main/page-background.png", id: "content-background" %>
<div class="clearfix">

  <p class="second">
    <span style="font-weight:bold; border-right:1px solid #eee; padding: 12px 12px 12px 0;"><i class="icon-tag"></i></span>
    <span style="margin-left:12px;">
      journal, philosophy, lyrics, reviews 
    </span>
  </p>

  <div class="map">
    <div class="map-section"> 
    <iframe frameBorder='0' src='http://a.tiles.mapbox.com/v3/kalaniakuna.map-d4k5msdh.html#4/36.73888412439431/-115.55419921875'></iframe>
    <b class="border-notch"></b>  
    <b class="notch"></b>
    </div>
  </div>


<div class="feeditem">
  <div class="grid_7 ball" style="margin-left:11px">
    <%= image_tag "main/photography/CaptureTheFlag/1.jpg", class: "feat"%>

    <p>
      <h1>Capture The Flag w/<a href="http://www.hitrecord.org" target="_blank">HitRECord</a></h1>
      HitRECord is an open-collaborative social network (and soon-to-be TV show) lead by Joseph Gordon-Levitt. HitRECord joined forces with <a href="http://pivottv.com" target="_blank">Pivot TV</a> - the fresh, Millenial-generation-centered network from the good people at Participant Media (who have made a lot of great films in the name of social change, including <i>The Help</i>).
      <br><br>
      Anyway, I took this picture. I feel pretty cool about it. While I was on my family adventure in Northern California, I saw (on hitRECord) that they were doing a shoot for their TV show regarding the theme "games." The game was Capture The Flag, wouldn't you know it! On the site, they invited people in the area to attend to act as the audience to the game and film it and contribute our footage to the site. I signed up my girlfriend, Lauren, and myself. 
      <br><br>
      So! Lauren and I were selected to attend the event in Los Angeles. We didn't get the invitation till 6pm the day before the event, which gave us the night to rent a car and prepare for a 6 hour drive the next morning at 6am sharp. We actually hustled the shit out of that and made it happen. We even got there a couple of hours early, so we found a vegan restaurant nearby (all-vegan and only 2 miles from the shoot -- called "The Vegan Joint"). 
      <br><br>
      It was a slow start, but it was definitely worth the sunburn and sore butt. I had a lot of fun meeting some of the other hitRECord people and being a part of the whole process. Sidenote: Lauren and I were hanging out with Joseph Gordon-Levitt's parents and a few other important hitRECord people. I didn't realize that till later. So hey guys, if you remember me at all, I wouldn't mind a job...
      <br><br>
      <span style="font-size:14px;">
        <i class="icon-time" style="margin-right:5px;opacity:.5;"></i> Aug 26, 2013
        <i class="icon-map-marker" style="margin:0 5px 0 20px;opacity:.5;"></i> Los Angeles, CA
        <i class="icon-tag" style="margin:0 5px 0 20px;opacity:.5;"></i> #hitRECord, #travel
      </span>
    </p>
  </div>
</div>

<div class="feeditem">
  <div class="grid_7 ball" style="margin-left:11px">
    <%= image_tag "main/photography/WineCountry/1.jpg", class: "feat"%>

    <p>
      <h1>Aunt's House</h1>
      My 13-or-so day family adventure was successful (July 28 - August 10, 2013). This photo was taken via turkey POV outside my aunt's house in Sutter Creek, CA. She added on that beautiful deck after buying the house a couple of years ago. I enjoyed many a mornings drinking coffee and lounging on her furniture.
      <br><br>
      <span style="font-size:14px;">
        <i class="icon-time" style="margin-right:5px;opacity:.5;"></i> Aug 25, 2013
        <i class="icon-map-marker" style="margin:0 5px 0 20px;opacity:.5;"></i> Sutter Creek, CA
        <i class="icon-tag" style="margin:0 5px 0 20px;opacity:.5;"></i> #travel
      </span>
    </p>
  </div>
</div>

<div class="feeditem">
  <div class="grid_7 ball" style="margin-left:11px">
    <p>
      <h1>The American Dream (RE: America)</h1>
      The American dream is having the opportunity to exploit anything at any cost to turn a profit. The promise of profit is the promise of freedom. Freedom is only granted to those who profit the most. There is no freedom to those who do not reach the top.
      <br><br>
      Like a game of king of the hill, you climb the mound of dirt till you reach the peak. Only then do you taste success, but in constant fear that it will be taken away. The wider you can make the gap between you and the competition, the greater security you have as ruler.
      <br><br>
      The king has no intention of relinquishing his throne. 
      <br><br>
      <span style="font-size:14px;">
        <i class="icon-time" style="margin-right:5px;opacity:.5;"></i> Aug 25, 2013
        <i class="icon-tag" style="margin:0 5px 0 20px;opacity:.5;"></i> #hitRECord, #philosophy
      </span>
    </p>
  </div>
</div>

<div class="feeditem">
  <div class="grid_7 ball" style="margin-left:11px">
    <p>
      <h1>Route 66 (Again)</h1>
      This last May I went on a family adventure via van from Joplin, MO to Las Vegas, NV. My sister Rene got married at the Excalibur (I dressed like a monk, Lauren wouldn't be a horse with me). I was 21 this time, so you can fill in the blanks a little. 
      <br><br>
      My sister and her boyfriend were there, too. We took a two day trip to Los Angeles and went to Disneyland, Hollywood and Venice/Santa Monica. When we got back to Vegas we went to the Cirque du Soleil (Ka) and some other stuff. 
      <br><br>
      On the way we hit up The Painted Desert, Petrified Forest, and The Grand Canyon. At this point I've gone the entire Route 66, which is a mild accomplishment. I like it.     
      <br><br>
      <span style="font-size:14px;">
        <i class="icon-time" style="margin-right:5px;opacity:.5;"></i> Aug 25, 2013
        <i class="icon-map-marker" style="margin:0 5px 0 20px;opacity:.5;"></i> Las Vegas, NV
        <i class="icon-tag" style="margin:0 5px 0 20px;opacity:.5;"></i> #travel
      </span>
    </p>
  </div>
</div>

</div>
</section>