<% provide(:title, 'HitRECord Feature | Hat (Inky Remix)') %>
<%= stylesheet_link_tag 'css/alt' %>

<!-- Facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=543263382412688";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Twitter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<!-- Feature Top ....................................................
.....................................................................
-->

<div class="container_12">
  
  <br><span style="color:#333; font: 300 15px 'lato'; line-height: 1.5em;">HITRECORD FEATURE</span><br>
  <span class="featop"style="color:#333; font: 300 25px 'lato';">Hat (Inky Remix) </span> 

  <span style="float:right;margin-top:-5px;">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://www.hippoartists.com/hitrecord/hat-inky-remix" data-via="HippoArtists" data-count="none">Tweet</a>
    <div style="margin-left:5px;" class="fb-like" data-href="https://www.hippoartists.com/hitrecord/hat-inky-remix" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
  </span>

  <img src="http://hippoartists.com.s3.amazonaws.com/images/main/main/bottom-line.png" style="position:relative;
                                      bottom:-6px;"/>
</div>                                     

<header style="height:100%; background: rgb(250,250,250);border-top:1px solid #ddd;">
<div class="container_12" style="margin-bottom:20px;">
      <div class="section group" style="margin-top:0px;border:1px solid rgba(200,200,200,.4);">
        <div class="col span_1_of_2">
          <div id="wrapper">
            <div id="listly">       
                <div class="item feature-top">
                  <table>
                    <th><%= image_tag "http://d3q28pkxsyrk9d.cloudfront.net/record_attachments/1245303/wide/pantoufle-1245303.jpg?1364186645"%></th> 
                    <th class="text" style="vertical-align:top">
                      <p style="background:#fff">
                        
                        <br>
                         <i>I just felt like spending hours on remixing  xobreexo23's captivating image record :) ink, mostly. <3
                         <a href="http://www.hitrecord.org/records/1245303"style="color:#0084b4"target="_blank">- pantoufle</a></i>
                         <br><br><i style="opacity:.3">...................................................................................................</i><br><br>
                         This isn't the only beautiful piece produced by this extraordinary artist. In fact, this work is only one out of several of my personal favorites from <a href="http://www.hitrecord.org/users/pantoufle"target="_blank">pantoufle</a> on HitRECord. 
                         <br><br>
                         This piece, like many of her others, has been added onto by other artists. This work was itself a remix of another image - a photograph by another fantastic artist (xobreexo23) on HitRECord. Follow the <a href="http://www.hitrecord.org/records/1244350" target="_blank">link</a> to view the original photograph.
                         <br><br>
                         Below is a written remix of the Inky Remix:
                         <i>"Even at the height of her might, The Spoon &amp; Fork Queen had yet to learn what it meant to be happy..." <a href="http://www.hitrecord.org/records/1292165"target="_blank">- HitRECordjon</a></i>
                        <br><br>
                        <a href="http://www.hitrecord.org/records/1245303" target="_blank"><button class="newsletter"> Go to Website <i style="margin-left:8px" class="fa fa-chevron-right"></i></button></a>
                      </p>
                    </th>
                  </table>
                </div>              
            </div>
          </div>
        </div>
      </div>
</div>
</header>


<div class="container_12">
<img src="http://hippoartists.com.s3.amazonaws.com/images/main/main/top-line.png" style="position:relative;
                                      bottom:3px;"/>
</div>

<div class="container_12" style="margin-bottom:20px;">
  <div class="fb-comments" data-href="https://www.hippoartists.com/hitrecord/hat-inky-remix" data-width="960px" data-numposts="5" data-colorscheme="light"></div>
</div>







<!-- Footer .........................................................
.....................................................................
-->

  <footer>
    <div class="section group">
      <div class="col span_1_of_2">
        <div id="wrapper">
          <div id="listly">    
            <div class="container_12">
            <div class="item footer">
                         
              <a target="_blank" href="https://www.facebook.com/hippoartists"><button class="newsletter"><i class="fa fa-facebook"></i>acebook</button></a>
              <a target="_blank" href="https://twitter.com/hippoartists"><button class="newsletter" style="margin-right:5px"><i class="fa fa-twitter"></i> twitter</button></a>
              
              <form action="http://hippoartists.us7.list-manage1.com/subscribe/post?u=0d553d842dc3008a93c8478fe&amp;id=d7c6bb4c98" method="post" class="validate" target="_blank" novalidate style="margin-bottom:-7px">
              <input type="email" placeholder="Subscribe with Email Address", name="EMAIL"> 
              <button class="newsletter" type="submit" value="Subscribe" name="subscribe" style="margin-left:-4px"><i class="fa fa-chevron-right"></i></button>       
              </form>​​​​
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>


<!-- JavaScript, Etc. ...............................................
.....................................................................
-->


<!-- Square -->
<script src="https://cdn.sq-api.com/market/embed.js" id="sq-embed-js" charset="utf-8"></script>
<%= javascript_include_tag "masonry/masonry.pkgd.min" %>
<%= javascript_include_tag "masonry/jQuery" %>
<%= javascript_include_tag "masonry/mason" %>
<script>
  var containers, i, len;
  containers = document.querySelectorAll('.masonry-container');
  for (i = 0, len = containers.length; i < len; i++) {
    new Masonry(containers[i], { itemSelector: '.masonry-item', gutter: 10 });
  }
</script>


<!-- SlidesJS  -->
<%= javascript_include_tag "slidesjs/jquery.slides.min" %>
<script>
  $(function() {
    $('#slides').slidesjs({
      width: 960,
      height: 541,        
      navigation: false,
      play: {
        active: true,
        auto: true,
        interval: 7000,
        swap: true
      }
    });
  });
</script> 