<% provide(:title) %>
<%= stylesheet_link_tag 'pages/welcome' %>
<%= javascript_include_tag "slidesjs/jquery.slides.min" %>

<!-- SlidesJS  -->
<script>
  $(function() {
    $('#slides').slidesjs({
      width: 960,
      height: 541,        
      navigation: false,
      play: {
        active: true,
        auto: true,
        interval: 4000,
        swap: true
      }
    });
  });
</script>  

<!-- Fancybox -->
<script type="text/javascript">
  $(document).ready(function() {
    $(".fancybox-media").fancybox();
  });

  $('.fancybox-media')
    padding: 0;
    .attr('rel', 'media-gallery')
    .fancybox({
      openEffect : 'none',
      closeEffect : 'none',
      prevEffect : 'none',
      nextEffect : 'none',

      arrows : false,
      helpers : {
        media : {},
        buttons : {}
    }
  });
</script>


<!-- Main Features
.....................................................................
-->

<div id="feature">
<div id="slides">

<section>
  <%= link_to image_tag("http://hippoartists.com.s3.amazonaws.com/images/main/banners/mlb1.jpg"), melikebees_path %><p><strong style="font-size:30px">Me Like Bees</strong><br><span>musician</span></p>
</section>

<section>
  <%= link_to image_tag("http://hippoartists.com.s3.amazonaws.com/images/main/banners/aabnrblk2-2.png"), akuna_path %><p><strong style="font-size:30px">Akuna</strong><br><span>musician</span><span style="margin-left: 10px;">designer</span></p>
</section>

<section>
  <%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/banners/hpb.png" %>
</section>

<a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-caret-left"></i></a>
<a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-caret-right"></i></a>

</div>
</div><div class='clear'>&nbsp;</div>


<!-- Sub Features
.....................................................................
-->

<section id="content">

  <section id="box3" class="grid_7">
    <div class="form-5" style="margin-top:65px;"> 
      <form action="http://hippoartists.us7.list-manage1.com/subscribe/post?u=0d553d842dc3008a93c8478fe&amp;id=d7c6bb4c98" method="post" class="validate" target="_blank" novalidate>
        <p>
          <input type="text" placeholder="first name" name="FNAME">
          <input type="email" placeholder="email address", name="EMAIL">
        </p>  
        <button class="welc-in" type="submit" value="Subscribe" name="subscribe">Get Updates</button> 
      </form>​​​​
    </div>
  </section>

  <section id="box2" class="grid_7">
    <%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/banners/dot.jpg", class: "videoplace" %>  
    

    <a class="fancybox-media" href="http://vimeo.com/70665749">

      <img src="http://hippoartists.com.s3.amazonaws.com/images/main/etc/play2.png" onmouseover="this.src='http://hippoartists.com.s3.amazonaws.com/images/main/etc/play3.png'" onmouseout="this.src='http://hippoartists.com.s3.amazonaws.com/images/main/etc/play2.png'" class="playbutton linkaway" style="width:70px;height:70px;"/>

    </a>

    <!--a href='#demo_inline_element' class='lightview'
      data-lightview-options="skin: 'dark', controls: { type: 'relative', slider: false, close: 'false' }">
      <img src="http://hippoartists.com.s3.amazonaws.com/images/main/etc/play2.png" onmouseover="this.src='http://hippoartists.com.s3.amazonaws.com/images/main/etc/play3.png'" onmouseout="this.src='http://hippoartists.com.s3.amazonaws.com/images/main/etc/play2.png'" class="playbutton linkaway" style="width:70px;height:70px;"/>
    </a>  
    <div id='demo_inline_element' style='display:none'>
      <div class='movie-container side'>
        <iframe src="//player.vimeo.com/video/70665749" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div-->
  </section>

</section>

<section id="location">
  <iframe frameBorder='0' src='http://a.tiles.mapbox.com/v3/kalaniakuna.map-tu9a7lx7.html#13/37.084351498663175/-94.51357841491699'></iframe>
</section>  

<footer>
  <span style="margin-right:10px">&copy; 2013 Hippo, LLC. &amp; Hippo&trade;</span> Made in Joplin, MO by Kalani Akuna. 
  
  <span style="margin-left:10px">
    <a href="mailto:hippoartists.com@gmail.com?subject=&amp;body=" title="Contact by Email">Feedback</a>
  </span>
  <span style="margin-left:10px">
    <a href="https://www.facebook.com/hippoartists?ref=ts&fref=ts" target="_blank">Facebook</a>
  </span>
  <span style="margin-left:10px">
    <a href="https://twitter.com/hippoartists" target="_blank">Twitter</a>
  </span>
  <span style="margin-left:250px">
    MapBox
  </span>
</footer>