<% provide(:title) %>
<%= javascript_include_tag "tiles/modernizr-2.6.2.min" %>

<style>

body { background: #dfdfdf; }

/*-----------------------------------------------------------------*/

header#feature-area { 
  background: url(/assets/back.png) no-repeat;
  background-size: 100% 650px;
  padding: 0;
  height: 100%; overflow: hidden; /*600px*/
  border: 0px none; padding:0;
}
header#feature-area img.main-feature {
  margin-bottom: -5px;
  width: 100%;
}
header#feature-area img.name {
  position: absolute; left: 57.5%; top: 35%;
  width: 15%; 
}

/*-----------------------------------------------------------------*/

header#production-area {
  background: url(http://hippoartists.com.s3.amazonaws.com/images/main/main/back.jpg) repeat;
  height: 180px; border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
header#production-area section.wrapper {
  width: 100%; background: #fff; height: 160px;
  border: 1px solid rgba(230,230,230,1);
  -webkit-box-shadow: 0px 1px 1px 0px #eee;
  -moz-box-shadow:    0px 1px 1px 0px #eee;
  box-shadow:         0px 1px 1px 0px #eee;  
}
header#production-area img.EP { height: 160px; float: left; }
header#production-area span { 
  vertical-align: top; 
  margin: 5px 0 0 25px;
  float: left; 
  font: 300 16px 'lato'; color: #444;
}
header#production-area span h2 { 
  font: 300 22px 'lato';
  margin-bottom: 10px; 
}
header#production-area button {
  background: #fff; border:1px solid #ddd; padding: 8px 15px;
  margin-left: -1px; width: 110px;
}
header#production-area button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 1px 0px #ddd;
  -moz-box-shadow:    0px 1px 1px 0px #ddd;
  box-shadow:         0px 1px 1px 0px #ddd;
}
header#production-area section.right-box {
  background: rgba(245,245,245,1); 
  border:1px solid rgba(225,225,225,1);
  width: 335px; height: 130px;
  float: right; margin: 15px 15px;
}
header#production-area section.right-box img {
  height: 110px; margin: 10px 10px; float: right;
}
header#production-area section.right-box span {
  vertical-align: top; 
  margin: 0px 0 0 15px;
  float: left; 
  font: 300 16px 'lato'; color: #999;  
}
header#production-area section.right-box span h2 {
  font: 300 22px 'lato'; color: #444;  
  margin-bottom: 0;   
}

/*-----------------------------------------------------------------*/

header#pre-curated-area {
  height: 270px; 
  background: url(/assets/text-ks.png) repeat;
  background-size: 50px 50px; 
  margin-bottom: -200px; 
  border: 0px none;
}
header#pre-curated-area img {
  padding-top: 20px;
}

</style>

<!-- Feature Area 
..................................................................-->

<header id="feature-area">
  <%= link_to image_tag("http://hippoartists.com.s3.amazonaws.com/images/main/banners/wide.jpg", class: "main-feature"), melikebees_path %>
  <%= link_to image_tag("http://hippoartists.com.s3.amazonaws.com/images/main/banners/mlb-circle.png", class: "name"), melikebees_path %>
</header>


<!-- Production Area 
..................................................................-->

<header id="production-area">
<div class="container_12">
  <section class="wrapper">
    <%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/cds/akuna/akna.png", class: "EP" %>
    <span>
      <h2>Debut EP coming soon on Hippo</h2>
      <small>Akuna is an indie artist based in the Joplin, Missouri area.</small>
      <br><br><a href="https://www.facebook.com/hippoartists" target="_blank"><button>Follow</button></a>
    </span>
    <section class="right-box">
      <span>
        <h2>Dot</h2>
        <small><a href="http://vimeo.com/garrettkennell" target="_blank">Watch Teaser</a></small>
        <br><br>
        <a href="dot">
          <button>Feature Page</button>
        </a>
      </span>
      <a href='#demo_inline_element' class='lightview'
        data-lightview-options="skin: 'dark', controls: { type: 'relative', slider: false, close: 'false' }">
        <%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/etc/dotvid.jpg" %>
      </a>
    </section>
  </section>
</div><div class='clear'>&nbsp;</div>
</header>


<div id='demo_inline_element' style='display:none'>
  <div class='movie-container side'>
    <iframe src="//player.vimeo.com/video/70665749" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>

<!-- Pre-Curated Area 
..................................................................

<header id="pre-curated-area">
<div class="container_12">

<%= image_tag "kylesteed.png" %>

</div><div class='clear'>&nbsp;</div>
</header>
-->
<!-- JavaScript
..................................................................-->

<!-- lap-tiles 
<script>
  Modernizr.load({
    test: Modernizr.csscolumns,
    yep : '',
    nope: ['http://masonry.desandro.com/jquery.masonry.min.js', '/assets/tiles/main.js']
  });
</script>-->