<% provide(:title, 'Netflix Playlist | Indie Picks') %>
<%= stylesheet_link_tag 'css/alt' %>

<!-- Facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=543263382412688";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Twitter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<style>
a {color:#333;} 
a:hover {color:#0084b4;}    
</style>

<!-- Feature Top ....................................................
.....................................................................
-->

<div class="container_12">
  
  <br><span style="color:#333; font: 300 15px 'lato'; line-height: 1.5em;">NETFLIX PLAYLIST 
  </span><br>
  <span class="featop"style="color:#333; font: 300 25px 'lato';">Indie Picks</span>

  <span style="float:right;margin-top:-5px;">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://www.hippoartists.com/netflix/indie-picks" data-via="HippoArtists" data-count="none">Tweet</a>
    <div style="margin-left:5px;" class="fb-like" data-href="https://www.hippoartists.com/netflix/indie-picks" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
  </span>
  
  <img src="http://hippoartists.com.s3.amazonaws.com/images/main/main/bottom-line.png" style="position:relative;
                                      bottom:-6px;"/>
</div>

<header style="height:100%; background: rgb(250,250,250);border-top:1px solid #ddd;">
<div class="container_12" style="margin-bottom:20px;">
      
      <div class="section group" style="border:1px solid rgba(200,200,200,.4);">
        <div class="col span_1_of_2">
          <div id="wrapper">
            <div id="listly">       
                <div class="item feature-top">

                  <table style="background:#fff">
                    <th><a target="_blank" href="http://movies.netflix.com/Movie/Drinking-Buddies/70272917"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/playlists/net/db.jpg"%></a></th> 
                    <th class="text" style="vertical-align:top">
                      <p>        
                        2013 | R | Comedy, Drama<br>
                        <a target="_blank" href="http://movies.netflix.com/Movie/Drinking-Buddies/70272917"><span class="featop">Drinking Buddies</span></a>
                        <br><br>
                        Workmates at a small Chicago brewery, Luke and Kate are romantically involved with others but also the best of friends -- on and off the clock. Things get complicated, however, when the couples spend a weekend together at a lakeside retreat.
                      </p>
                    </th>
                  </table>
                </div>              
            </div>
          </div>
        </div>
      </div>

      <div class="section group" style="margin-top:20px;border:1px solid rgba(200,200,200,.4);">
        <div class="col span_1_of_2">
          <div id="wrapper">
            <div id="listly">       
                <div class="item feature-top">

                  <table style="background:#fff">
                    <th><a target="_blank" href="http://movies.netflix.com/WiMovie/Jesus_Henry_Christ/70184140?locale=en-US"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/playlists/net/jhc.png"%></a></th> 
                    <th class="text" style="vertical-align:top">
                      <p>        
                        2011 | PG-13 | Comedy, Drama<br>
                        <a target="_blank" href="http://movies.netflix.com/WiMovie/Jesus_Henry_Christ/70184140?locale=en-US"><span class="featop">Jesus Henry Christ</span></a>
                        <br><br>
                        Too-smart-for-his-own-good 10-year-old Henry James Herman sets out to locate his father, an anonymous sperm donor, in this quirky comedy. Along the way, Henry uncovers family secrets that only deepen his existential quandary.
                      </p>
                    </th>
                  </table>
                </div>              
            </div>
          </div>
        </div>
      </div>
      
      <div class="section group" style="margin-top:20px;border:1px solid rgba(200,200,200,.4);">
        <div class="col span_1_of_2">
          <div id="wrapper">
            <div id="listly">       
                <div class="item feature-top">

                  <table style="background:#fff">
                    <th><a target="_blank" href="http://movies.netflix.com/WiMovie/Robot_Frank/70227654?locale=en-US"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/playlists/net/rofr.jpg"%></a></th> 
                    <th class="text" style="vertical-align:top">
                      <p>        
                        2012 | PG-13 | Comedy, Drama<br>
                        <a target="_blank" href="http://movies.netflix.com/WiMovie/Robot_Frank/70227654?locale=en-US"><span class="featop">Robot &amp; Frank</span></a>
                        <br><br>
                        Worried about their aging father living alone, Frank's kids give him a humanoid robot that's programmed to be his caretaker. Reluctant Frank -- a retired cat burglar -- soon warms up to his new helper and begins to treat it as a partner in crime.
                      </p>
                    </th>
                  </table>
                </div>              
            </div>
          </div>
        </div>
      </div>

      <div class="section group" style="margin-top:20px;border:1px solid rgba(200,200,200,.4);">
        <div class="col span_1_of_2">
          <div id="wrapper">
            <div id="listly">       
                <div class="item feature-top">

                  <table style="background:#fff">
                    <th><a target="_blank" href="http://movies.netflix.com/WiMovie/Lars_and_the_Real_Girl/70058030"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/playlists/net/lrg.jpg"%></a></th> 
                    <th class="text" style="vertical-align:top">
                      <p>        
                        2007 | PG-13 | Comedy<br>
                        <a target="_blank" href="http://movies.netflix.com/WiMovie/Lars_and_the_Real_Girl/70058030"><span class="featop"><span class="featop">Lars and the Real Girl</span></a>
                        <br><br>
                        When a delusional loner buys a life-sized sex doll over the Internet, promptly falls in love with her and starts telling people that she's his girlfriend, his brother and sister-in-law decide it's time to intervene.
                      </p>
                    </th>
                  </table>
                </div>              
            </div>
          </div>
        </div>
      </div>


      <div class="section group" style="margin-top:20px;border:1px solid rgba(200,200,200,.4);">
        <div class="col span_1_of_2">
          <div id="wrapper">
            <div id="listly">       
                <div class="item feature-top">

                  <table style="background:#fff">
                    <th><a target="_blank" href="http://movies.netflix.com/WiMovie/What_Maisie_Knew/70259258"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/playlists/net/wmk.jpg"%></a></th> 
                    <th class="text" style="vertical-align:top">
                      <p>        
                        2013 | R | Drama<br>
                        <a target="_blank" href="http://movies.netflix.com/WiMovie/What_Maisie_Knew/70259258"><span class="featop"><span class="featop">What Maisie Knew</span></a>
                        <br><br>
                        In this updated rendering of the timeless Henry James novel, a perceptive 6-year-old girl becomes a bargaining tool when she gets caught in the midst of a toxic custody fight between her self-seeking, childish parents.
                      </p>
                    </th>
                  </table>
                </div>              
            </div>
          </div>
        </div>
      </div>

      <div class="section group" style="margin-top:20px;border:1px solid rgba(200,200,200,.4);">
        <div class="col span_1_of_2">
          <div id="wrapper">
            <div id="listly">       
                <div class="item feature-top">

                  <table style="background:#fff">
                    <th><a target="_blank" href="http://movies.netflix.com/WiMovie/Nowhere_Boy/70124562?locale=en-US"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/playlists/net/nb.jpg"%></a></th> 
                    <th class="text" style="vertical-align:top">
                      <p>        
                        2009 | R | Drama<br>
                        <a target="_blank" href="http://movies.netflix.com/WiMovie/Nowhere_Boy/70124562?locale=en-US"><span class="featop"><span class="featop">Nowhere Boy </span></a>
                        <br><br>
                        Raised by his aunt since he was a young boy, charismatic teen John Lennon is reunited with his mother, which ignites a bitter battle between the two sisters for John's affections. Along the way, John befriends fellow Liverpool lad Paul McCartney.
                      </p>
                    </th>
                  </table>
                </div>              
            </div>
          </div>
        </div>
      </div>




</div>
</header>


<div class="container_12">
<img src="http://hippoartists.com.s3.amazonaws.com/images/main/main/top-line.png" style="position:relative;
                                      bottom:3px;"/>
</div>

<div class="container_12" style="margin-bottom:20px;">
    <div class="fb-comments" data-href="https://www.hippoartists.com/netflix/indie-picks" data-width="960px" data-numposts="5" data-colorscheme="light"></div>
</div>







<!-- Footer .........................................................
.....................................................................
-->

  <footer>
    <div class="section group">
      <div class="col span_1_of_2">
        <div id="wrapper">
          <div id="listly">    
            <div class="container_12">
            <div class="item footer">
                         
              <a target="_blank" href="https://www.facebook.com/hippoartists"><button class="newsletter"><i class="fa fa-facebook"></i>acebook</button></a>
              <a target="_blank" href="https://twitter.com/hippoartists"><button class="newsletter" style="margin-right:5px"><i class="fa fa-twitter"></i> twitter</button></a>
              
              <form action="http://hippoartists.us7.list-manage1.com/subscribe/post?u=0d553d842dc3008a93c8478fe&amp;id=d7c6bb4c98" method="post" class="validate" target="_blank" novalidate style="margin-bottom:-7px">
              <input type="email" placeholder="Subscribe with Email Address", name="EMAIL"> 
              <button class="newsletter" type="submit" value="Subscribe" name="subscribe" style="margin-left:-4px"><i class="fa fa-chevron-right"></i></button>       
              </form>​​​​
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>


<!-- JavaScript, Etc. ...............................................
.....................................................................
-->


<!-- Square -->
<script src="https://cdn.sq-api.com/market/embed.js" id="sq-embed-js" charset="utf-8"></script>
<%= javascript_include_tag "masonry/masonry.pkgd.min" %>
<%= javascript_include_tag "masonry/jQuery" %>
<%= javascript_include_tag "masonry/mason" %>
<script>
  var containers, i, len;
  containers = document.querySelectorAll('.masonry-container');
  for (i = 0, len = containers.length; i < len; i++) {
    new Masonry(containers[i], { itemSelector: '.masonry-item', gutter: 10 });
  }
</script>


<!-- SlidesJS  -->
<%= javascript_include_tag "slidesjs/jquery.slides.min" %>
<script>
  $(function() {
    $('#slides').slidesjs({
      width: 960,
      height: 541,        
      navigation: false,
      play: {
        active: true,
        auto: true,
        interval: 7000,
        swap: true
      }
    });
  });
</script> 