<!DOCTYPE html>
<html>

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Hippo™ © 2014 Hippo, LLC.
www.hippoartists.com 
Author: Kalani Akuna

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400|Lato:300,400,900' %>
  <%= stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' %>
  <%= stylesheet_link_tag    "application", media: "all", 
  "data-turbolinks-track" => true %>  
  <%= javascript_include_tag "application", 
  "data-turbolinks-track" => true %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" %>
  <%= favicon_link_tag 'http://hippoartists.com.s3.amazonaws.com/images/icons/main/hicon-2.png' %>
  <meta name="msvalidate.01" content="52B99E02905A677F25A5BAF6A2B07C59" />
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %> 
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44390130-1', 'hippoartists.com');
    ga('send', 'pageview');

  </script>
</head>

<body>
<div class="container demo-3">
  
  <%= render 'layouts/header' %>

  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>

  <%= yield %>

</div>
</body>
</html>


