<% provide(:title, 'Dot') %>
<%= stylesheet_link_tag 'pages/video' %>
<%= javascript_include_tag "hoverjs/jquery" %>
<%= javascript_include_tag "hoverjs/jquery.hoverscroll" %>

  <!-- Hoverscroll --> 
  <script>
  $(document).ready(function() {
        // Creating hoverscroll with fixed arrows
    $('.my-list').hoverscroll({
            fixedArrows: false,
            rtl: false
        });
        // Starting the movement automatically at loading
        // @param direction: right/bottom = 1, left/top = -1
        // @param speed: Speed of the animation (scrollPosition += direction * speed)
        var direction = -1,
            speed = 3;
        $(".my-list")[0].startMoving(direction, speed);
  }); 
  </script>

<!-- 
....................................................................
-->
<div class="container_12">
<%= render 'title_sidebar' %>

<!-- Main Content
....................................................................
-->

<section id="content">
<%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/main/packl.jpg", id: "content-background" %>
<div id="main" class="clearfix">   

    <div class="avatar">
      <iframe src="//player.vimeo.com/video/75226647?portrait=0&byline=0&title=0" class="feat-vid" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>   
    </div>

    <hr>

    <ul class="my-list" style="list-style:none">
      <li><iframe src="//player.vimeo.com/video/70729293" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></li> 

      <li><iframe src="//player.vimeo.com/video/70665749" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></li>

      <li><iframe src="//player.vimeo.com/video/82657297?color=02a119" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></li>
    </ul>

    <hr>


</div>
</section>
</div>